[user]
	name = ITrimble
	email = your-email@domain.com

[core]
	editor = nvim
	autocrlf = input
	excludesfile = ~/.gitignore_global

[push]
	default = simple
	autoSetupRemote = true

[pull]
	rebase = true

[init]
	defaultBranch = main

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --oneline --graph --decorate
	last = log -1 HEAD
	unstage = reset HEAD --
	visual = !gitk

[color]
	ui = auto

[merge]
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait $MERGED

[diff]
	tool = vscode

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
